<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        div{
            height: 30px;
            background: pink
        }
        *{
            margin: 0;
            padding: 0;
        }
    </style>
    <title>login</title>
</head>
<body>
    <div></div>
    <form action="/user/login" method="POST">
        {% csrf_token %}<!-- 这个是框架为了防止机器模拟提交所设定的安全措施 -->
        用户名：<input name="username" />
        密码：<input name="password" />
        <input type="submit" value="登录" /><span style="color: red">{{mes}}</span>
    </form>
</body>
</html>